<div class="row">
  
  <div class="span1"><p><%= app.id %></p></div>
  <div class="span1"><p><%= app.name %></p></div>
  <div class="span2"><p><%= app.start_at %></p></div>
  <div class="span2"><p><%= app.end_at %></p></div>
  <div class="span2"><p><%= app.email %></p></div>
  <div class="span1"><p><%= app.phone %></p></div>
  <div class="span2"><p><%= app.commet %></p></div>
  <div class="span1"><p><%= app.status %></p></div>

</div>
