<div class="row-fluid">
  <!-- <h1>New Application</h1> -->
</div>

<div class="row-fluid">
  <div class="span6 offset3 login-form">

<% form_tag '/apps', :class => 'form form-horizontal', :method => 'post' do %>
  <% field_set_tag do %>
    <div id="legend">
      <legend class="brand">Add new application</legend>
    </div>
    <%= flash_tag(:notice, :class => 'alert alert-danger') %>
    <div class="control-group">
      <%= label_tag :room_id %>
      <%= text_field_tag :room_id %>
    </div>
    <div class="control-group">
      <%= label_tag :start_at %>
      <%= text_field_tag :start_at %>
    </div>
    <div class="control-group">
      <%= label_tag :end_at %>
      <%= text_field_tag :end_at %>
    </div>
    <div class="control-group">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div class="control-group">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class="control-group">
      <%= label_tag :phone %>
      <%= text_field_tag :phone %>
    </div>
    <div class="control-group">
      <%= label_tag :cmment %>
      <%= text_field_tag :commet %>
    </div>
    <div class="controls" style="padding-top:20px;">
      <%= submit_tag "add+", :class => 'btn btn-primary btn-large btn-block' %>
    </div>
  <% end %>
<% end %>

  </div>
</div>