<div class="row-fluid">
  
  <div class="span1"><p><%= application.id %></p></div>
  <div class="span1"><p><%= application.name %></p></div>
  <div class="span1"><p><%= application.start_at %></p></div>
  <div class="span1"><p><%= application.end_at %></p></div>
  <div class="span1"><p><%= application.email %></p></div>
  <div class="span1"><p><%= application.phone %></p></div>
  <div class="span1"><p><%= application.commet %></p></div>
  <div class="span1"><p><%= application.status %></p></div>

</div>
