<div class="row-fluid">
  <!-- <h1>New Application</h1> -->
</div>

<div class="row-fluid">
  <div class="span4 offset4 login-form">

<% form_tag url(:apps, :create), :class => 'form form-horizontal', :method => 'post' do %>
  <%= flash_tag(:notice, :class => 'alert alert-danger') %>
  <% field_set_tag do %>
    <div class="control-group">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div class="control-group">
      <%= label_tag :start_at %>
      <%= text_field_tag :start_at %>
    </div>
    <div class="control-group">
      <%= label_tag :end_at %>
      <%= text_field_tag :end_at %>
    </div>
    <div class="control-group">
      <%= label_tag :email %>
      <%= password_field_tag :password %>
    </div>
    <div class="control-group">
      <%= label_tag :password_confirm %>
      <%= password_field_tag :password_confirm %>
    </div>
    <div class="controls" style="padding-top:20px;">
      <%= submit_tag "add+", :class => 'btn btn-primary btn-large btn-block' %>
    </div>
  <% end %>
<% end %>

  </div>
</div>