
<div class="row">
  <div class="span6 offset2 login-form">

<% form_tag url(:accounts, :login), :class => 'form form-horizontal', :method => 'post' do %>
  <% field_set_tag do %>
    <div id="legend">
      <legend class="brand">登 录</legend>
    </div>
    <%= flash_tag(:notice, :class => 'alert alert-danger') %>
    <div class="control-group">
      <%= label_tag '邮箱' %>
      <%= email_field_tag :email %>
    </div>
    <div class="control-group">
      <%= label_tag '密码' %>
      <%= password_field_tag :password %>
    </div>

    <div class="control-group" style="padding:20px 30px">
      <%= submit_tag '登 陆', :class => 'btn btn-primary btn-large btn-block' %>
    </div>

    <br><br>
    <div class="control-group pull-right">
      <%= link_to '免费注册', url(:accounts, :new) %>
      &nbsp; &nbsp; &nbsp;
      <%= link_to '忘记密码', url(:accounts, :new_password) %>
    </div>
  <% end %>
<% end %>

  </div>
</div>